@use "../variables/variables" as *;

.forecast {
  margin-top: 2rem;
  @include no-text-select;

  &__container {
    position: relative;
  }

  .widget-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 0.5rem;
    padding-top: 1.5rem;

    .widget {
      position: relative;
      cursor: pointer;

      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 0.75rem;
      margin-right: 0.75rem;

      min-width: 115px;

      border: 1px solid var(--secondary-text-color);
      border-radius: 1rem;

      .day {
        position: absolute;
        top: -1.5rem;
      }
      .icon-temp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.75rem 0;
        img {
          width: 40px;
          margin-right: 0.25rem;
        }
      }
      .wind {
        margin-top: 0.25rem;
        display: flex;
        .speed {
          margin-right: 0.25rem;
        }
        .wind-dir {
          font-size: 0.8rem;
          margin-left: 0.25rem;
        }
      }
    }
  }

  .move-button {
    position: absolute;
    background-color: var(--move-buttons-color);
    border-color: var(--primary-text-color);
    color: var(--primary-text-color);
    border-radius: 3.5rem;
    cursor: pointer;
    z-index: 3;
    opacity: 0.9;

    width: 4rem;
    height: 4rem;

    $top-position: 50%;

    &__left {
      top: $top-position;
      left: 1rem;
    }

    &__right {
      top: $top-position;
      right: 1rem;
    }
  }
}
