@use "../variables/variables" as *;

.main {
  margin: 0 7rem;
  padding: 20px 0;
  height: 100vh;

  overflow-x: auto;
  overflow-y: hidden;

  @media only screen and (max-width: 760px) {
    height: auto;
  }

  @media only screen and (max-width: 920px) {
    margin: 0 2rem;
  }
}
